# NOTE: This file is taken from https://github.com/bazel-contrib/rules-template/blob/main/.github/workflows/release.yml
# and slightly modiefied.

# Cut a release whenever a new tag is pushed to the repo.
# You should use an annotated tag, like `git tag -a v1.2.3`
# and put the release notes into the commit message for the tag.
name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v2
    with:
      prerelease: false
      release_files: bazel_lib-*.tar.gz
